.max-width {
  max-width: 400px;
}

.min-width {
  min-width: 300px;
}

.hamburger-bg {
  background-color: palegoldenrod;
  color: black;
}

.btn-shadow {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}
